fastapi
uvicorn
langgraph
langchain-google-genai
langchain-openai
google-api-python-client
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
langchain
langchain-community
aiofiles
requests
beautifulsoup4
ddgs
crawl4ai
qdrant-client
numpy<2
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
torchvision==0.17.2+cpu
torchaudio==2.2.2+cpu
sentence-transformers==2.7.0
